/* responsive media queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 10px 20px;
    }
    .top-header {
        flex-direction: column;
        align-items: center;
    }
    .top-header li {   
        list-style: none;
        margin-left: 4px;
        font-size: 1rem;
    }ADD
    .img-logo {
        width: 50%;
    }
    /* Responsive Benner Section */
    .bannner {
        padding: 50px 20px;
        border-radius: 0px 0px 5px 5px;
    }
    .banner-title {
        font-size: 3rem;
    }
    .banner-description {
        color: #FFF;
        font-size: 1rem;
        padding: 20px 20px;
    }
    /* Responsive Benner end */
    /* Responsive Our Popular Tours Section Starts Here */
.tours-section {
    padding: 40px 20px;
    flex-direction: column;
}
.content-column {
    width: 100%;
    padding: 0%;
}
.tours-title {
    font-size: 2.50rem;
}
.img-column {
    margin-top: 30px;
    width: 100%;
    padding: 0%;
}
/* Responsive Our Popular Tours Section End Here */
/* Responsive gallery Section Start Here */
.section-1 {
    padding: 40px 20px;
}
.gallery-title {
    font-size: 2rem;
}
.gallery-description {
    font-size: 1rem;
    line-height: 26px;
    padding: 0%;
}
.img-gallery {
    flex-direction: column;
}
.img-1 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
}
.img-2 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 20px;
}
.img-gallery-2 {
    flex-direction: column;
}
.img-3 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 0px;
}
.img-4 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 20px;
}
.img-5 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 20px;
}
.img-6 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 0px;
}
.img-7 {
    width: 100%;
    padding: 100px 0px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 20px;
}

/* Responsive gallery Section Ends Here */
/* Responsive Why Choose Us Section Start Here */
.section-2 {
    padding: 40px 20px;
}
.box-content {
    font-size: 1rem;
    line-height: 24px;
    padding: 0px;
    margin-bottom: 30px;
}
.box-column {
    flex-direction: column;
}
.box-column-2 {
    flex-direction: column;
}
.box-3 {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #fef6f6;
}
.box-2 {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    margin-left: 0px
}
.box-1 {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.box-title {
    font-size: 1.30rem;
    padding: 10px 0px;

}
.box-text {
    color:#1A0A30;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
/* Responsive Why Choose Us Section End Here */
/* Responsive Newsletter Section End Here */
.section-3 {
    padding: 40px 20px;
}
.newsletter-column {
    margin: 0px 0px;
    flex-direction: column;
}
.wrapper {
    width: 100%;
    padding: 30px 20px;
    margin-right: 0px;
    box-sizing: border-box;
}
.newsletter-title {
    font-size: 2rem;
}
.travel-image {
    width: 100%;
    margin-left: 0px;
    background-size: cover;
    padding: 100px 50px;
    box-sizing: border-box;
    margin-top: 20px;
}
.save-box {
    transform: rotate(-20deg);
    width: 50%;
    padding: 20px 20px; 
}
.save-text {
    font-size: 14px;
    padding: 10px 0px;
}
.save-title {
    letter-spacing: 1px;
    font-size: 1rem;
    }
/* Responsive Newsletter Section End Here */
}
