/* Work Sans and Abril Fatface font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:ital,wght@0,600;1,400&display=swap');

/* Start Shared Styles */
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #48A9A6;
}
/* End Shared Styles */
* {
    margin: 0%;
    padding: 0%;
}
/* Start Header Styles */
header {
    background-color: #1A0A30;
    padding: 20px 0px;
    margin-bottom: 80px;
}
.top-header {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img-logo {
    width: 100%;
}
.top-header li {   
    list-style: none;
    margin-left: 40px;
    font-size: 1.20rem;
    line-height: 28px;
}
.top-header > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header li a {
    font-family: Abril Fatface;
    color: #fff;
    text-decoration: none;
}
.top-header li a:hover{
    color: #48A9A6;
}
/* End Header Styles */
/* Start Benner Section */
.bannner {
    max-width: 1250px;
    margin: auto;
    padding: 200px 0px;
    background-image: url(Images/banner-image.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 5px 5px 10px 10px;
}
.banner-title {
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 4rem;
    font-weight: 800;
}
.banner-description {
    color: #FFF;
    font-family: work sans;
    font-size: 1.10rem;
    font-weight: 400;
    padding: 10px 220px;
}
.register {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #000000;
}
/* End Benner Section */
/* Our Popular Tours Section Starts Here */ 
.tours-section {
    max-width: 1250px;
    padding: 80px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.content-column {
    width: 50%;
    padding-right: 40px;
}

.tours-title {
    color: #48A9A6;
    font-family: Abril Fatface;
    font-size: 3.30rem;
    line-height: normal;
    padding-bottom: 20px;
}
.tours-text {
    padding-top: 10px;
    color:#414042;
    font-family: work sans;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
}
.btn-primary, top {
    margin-top: 40px;
}
.img-column {
    width: 50%;
    padding-left: 40px;
}
.tours-img {
    width: 100%;
}

/* Our Popular Tours Section Ends Here */ 
/* gallery Section Start Here */
.section-1 {
    background-color: #1A0A30;
    padding: 80px 0px;
}
.gallery-column {
    max-width: 1250px;
    margin: 40px 0px;
    margin: auto;
}
.gallery-title {
    text-align: center;
    color: #48A9A6;
    font-family: Abril Fatface;
    font-size: 3.30rem;
    line-height: normal;
}
.gallery-description {
    color:#fff;
    text-align: center;
    font-family: work sans;
    font-size: 1.10rem;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 250px;
}
.img-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.img-1 {
    background-image: url(Images/Rectangle\ 5.png);
    background-size: cover;
    width: 50%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-right: 10px;
}
.img-2 {
    background-image: url(Images/Rectangle\ 8.png);
    background-size: cover;
    width: 50%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-left: 10px;
}
.img-3 {
    background-image: url(Images/Rectangle\ 6.png);
    background-size: cover;
    width: 30%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-right: 10px;
}
.img-4 {
    background-image: url(Images/Rectangle\ 7.png);
    background-size: cover;
    width: 40%;
    padding: 150px 50px;
    border-radius: 15px;
    margin: 0px 10px;
}
.img-5 {
    background-image: url(Images/Rectangle\ 9.png);
    background-size: cover;
    width: 30%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-left: 10px;
}
.img-gallery-2 {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.img-6 {
    background-image: url(Images/Rectangle\ 11.png);
    background-size: cover;
    width: 40%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-right: 10px;
}
.img-7 {
    background-image: url(Images/Manikganj.jpg);
    background-size: cover;
    width: 60%;
    padding: 150px 50px;
    border-radius: 15px;
    margin-left: 10px;
}
.img-title1 {
    text-align: center;
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 1.50rem;
    line-height: normal;
}
/* gallery Section Ends Here */
/* Why Choose Us Section Start Here */
.section-2 {
    padding: 80px 0px;
    background-color: #f4fdff;
}
.choose-column {
    max-width: 1250px;
    margin: auto;
}
.box-content {
    color:#1A0A30;
    text-align: center;
    font-family: work sans;
    font-size: 1.10rem;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 250px;
    margin-bottom: 30px;
}
.box-column {
    display: flex;
    justify-content: space-between;
}
.box-1 {
    width: 50%;
    padding: 50px 30px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #fffbf7;
}
.box-2 {
    width: 50%;
    padding: 50px 30px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: #48A9A6;
}
.box-column-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.box-3 {
    width: 50%;
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #fef6f6;
}
.box-title {
    font-family: Abril Fatface;
    font-size: 1.30rem;
    line-height: normal;
    padding: 15px 0px;
}
.box-text {
    color:#1A0A30;
    font-family: work sans;
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
}
/* Why Choose Us Section End Here */
