/* Work Sans and Abril Fatface font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:ital,wght@0,600;1,400&display=swap');

/* Start Shared Styles */
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: #48A9A6;
}
/* End Shared Styles */
* {
    margin: 0%;
    padding: 0%;
}
/* Start Header Styles */
header {
    background-color: #000000;
    padding: 20px 0px;
}
.top-header {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img-logo {
    width: 100%;
}
.top-header li {   
    list-style: none;
    margin-left: 40px;
    font-size: 1.20rem;
    line-height: 28px;
}
.top-header > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header li a {
    font-family: Abril Fatface;
    color: #fff;
    text-decoration: none;
}
.top-header li a:hover{
    color: #48A9A6;
}
/* End Header Styles */
/* Start Benner Section */
.bannner {
    max-width: 1250px;
    margin: auto;
    padding: 200px 0px;
    background-image: url(Images/banner-image.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.banner-title {
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 4rem;
    font-weight: 800;
}
.banner-description {
    color: #FFF;
    font-family: work sans;
    font-size: 1.10rem;
    font-weight: 400;
    padding: 10px 220px;
}
.register {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #000000;
}
/* End Benner Section */
/* Our Popular Tours Section Starts Here */ 
.tours-section {
    max-width: 1250px;
    padding: 80px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.content-column {
    width: 50%;
    padding-right: 40px;
}

.tours-title {
    color: #48A9A6;
    font-family: Abril Fatface;
    font-size: 3.30rem;
    line-height: normal;
    padding-bottom: 20px;
}
.tours-text {
    padding-top: 10px;
    color:#414042;
    font-family: work sans;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
}
.btn-primary, top {
    margin-top: 40px;
}
.img-column {
    width: 50%;
    padding-left: 40px;
}
.tours-img {
    width: 100%;
}

/* Our Popular Tours Section Ends Here */ 